$red:#BF003C;
$black: #1F1F1F;
$white: #EFEFEF;
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif;
}

header,
footer {
    display: flex;
    min-height: 15vh;
    background-color: $black;
    color: $white;
}

.header,
.banner {
    display: none;
}

header {
    background-image: url('../../media/images/faa_banner.png');
    background-size: contain;
    background-repeat: repeat-y;
    box-shadow: 0px 1px #2F2F2F, 0px 2px #4F4F4F, 0px 3px #6F6F6F, 0px 4px #8F8F8F, 0px 5px #AFAFAF, 0px 6px #CFCFCF, 0px 7px #EFEFEF, inset 0px -1px #2F2F2F, inset 0px -2px #4F4F4F, inset 0px -3px #6F6F6F, inset 0px -4px #8F8F8F, inset 0px -5px #AFAFAF, inset 0px -6px #CFCFCF, inset 0px -7px #EFEFEF;
}

footer {
    box-shadow: 0px -1px #2F2F2F, 0px -2px #4F4F4F, 0px -3px #6F6F6F, 0px -4px #8F8F8F, 0px -5px #AFAFAF, 0px -6px #CFCFCF, 0px -7px #EFEFEF, inset 0px 1px #2F2F2F, inset 0px 2px #4F4F4F, inset 0px 3px #6F6F6F, inset 0px 4px #8F8F8F, inset 0px 5px #AFAFAF, inset 0px 6px #CFEFCF, inset 0px 7px #EFEFEF;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 1.8rem;
}

main {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 70vh;
    font-size: 1.6rem;
}

article {
    padding: 8px;
    min-width: 100vw;
}


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    // article {
    //     min-height: 80vh;
    // }
    // header,
    // footer {
    //     min-height: 10vh;
    // }
    // main {
    //     font-size: 1.1rem;
    // }
    // .banner {
    //     font-size: 1.3rem;
    // }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    // article {
    //     min-height: 76vh;
    // }
    // header,
    // footer {
    //     min-height: 12vh;
    // }
    // main {
    //     font-size: 1.2rem;
    // }
    // .banner {
    //     font-size: 1.4rem;
    // }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    // article {
    //     min-height: 72vh;
    // }
    // header,
    // footer {
    //     min-height: 14vh;
    // }
    // main {
    //     font-size: 1.3rem;
    // }
    // .banner {
    //     font-size: 1.5rem;
    // }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    // article {
    //     min-height: 68vh;
    // }
    // header,
    // footer {
    //     min-height: 16vh;
    // }
    // main {
    //     font-size: 1.4rem;
    // }
    // .banner {
    //     font-size: 1.6rem;
    // }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    // article {
    //     min-height: 64vh;
    // }
    // header,
    // footer {
    //     min-height: 18vh;
    // }
    // main {
    //     font-size: 1.5rem;
    // }
    // .banner {
    //     font-size: 1.7rem;
    // }
}