$red:#BF003C;
$black: #1F1F1F;
$white: #EFEFEF;
* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

.col-1 {
    background: $red;
    flex: 1;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: $white;
}

.content>article {
    flex: 3;
    min-width: 50vw;
    min-height: 60vh;
    color: $black;
}

.content>aside {
    background: $red;
    flex: 1;
}

header,
footer {
    background: $red;
    height: 20vh;
}

header,
footer,
article,
nav,
aside {
    padding: 1em;
}

.sketchy {
    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}